<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}" class="bg-white text-near-black">
<head>
    {{ block "head" . }}
        {{ partial "head.html" . }}
    {{ end }}
</head>
<body class="font-albert-sans antialiased flex flex-col min-h-screen">
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    <main class="flex-grow container mx-auto px-4 py-8">
        {{ block "main" . }}{{ end }}
    </main>
    {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
</body>
</html>
