{{ define "main" }}
<article class="prose max-w-3xl mx-auto pb-6 border-b border-gray-200">
    <header class="mb-8">
        <h1 class="font-barlow text-4xl md:text-5xl text-near-black mb-2">{{ .Title }}</h1>
        {{ if ne .Type "page" }}
        <p class="text-sm text-near-black/70 font-albert-sans">
            Published on <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 2, 2006" }}</time>
            {{ if .Params.categories }}
                in {{ range .Params.categories }}<a href="{{ "/categories/" | relURL }}{{ . | urlize }}" class="text-navy hover:text-navy/80">{{ . }}</a> {{ end }}
            {{ end }}
        </p>
        {{ end }}
        
</header>
    
    {{ .Content }}

    {{ if .Params.tags }}
    <div class="mt-8 mb-4 flex flex-wrap gap-2">
        {{ range .Params.tags }}
            <a href="{{ "/tags/" | relURL }}{{ . | urlize }}" class="inline-block px-2 py-0.5 text-xs border border-navy text-navy rounded-full hover:bg-navy hover:text-white transition-colors">#{{ . }}</a>
        {{ end }}
    </div>
    {{ end }}
    {{ partial "social-share.html" . }}
</article>
{{ end }}
