{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}

<footer class="footer-extend">
    <div class="footer-container">
      <!-- About / Description Column -->
      <div class="footer-column about">
        <h2>AdroitSF</h2>
        <p>Salesforce has made a hard pivot to being ai enabled with the advent of generative ai.</p>
        <p>These pages attempt to keep pace with how ai is used in salesforce to build solutions.</p>
      </div>
      
      <!-- Column with Links - First Group -->
      <div class="footer-column links">

      </div>
      
      <!-- Column with Links - Second Group -->
      <div class="footer-column links">
        <ul>
          <li><a href="#linkA">About Us</a></li>
          <li><a href="#linkB">Why another site?</a></li>
          <li><a href="#linkC">Get In Touch</a></li>
        </ul>
      </div>
    </div>
  </footer>
  