{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}

<footer class="footer-extend">
    <div class="footer-container">
      <!-- About / Description Column -->
      <div class="footer-column about">
        <h2>AdroitSF</h2>
        <p>This site will collate and write about Salesforce and AI based on patterns seen in implementations and ideas shared by the community.</p>
        <p>Implementation documentation and use cases meant to support Salesforce consultants implementing Salesforce with AI</p>
      </div>
      
      <!-- Column with Links - First Group -->
      <div class="footer-column links">

      </div>
      
      <!-- Column with Links - Second Group -->
      <div class="footer-column links">
        <ul>
          <li><a href="#linkA">About Us</a></li>
          <li><a href="#linkB">Why another site?</a></li>
          <li><a href="#linkC">Get In Touch</a></li>
        </ul>
      </div>
    </div>
  </footer>
  